<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/">
    <h2>Gender</h2>
    <input type="radio" name="gender" value="female"> <label>Female</label>
    <input type="radio" name="gender" value="male"> <label>Male</label>
    <input type="radio" name="gender" value="non-binary"> <label>Non Binary</label>
    <input type="radio" name="gender" value="non-specified"> <label>I don't want to disclose</label>

    <label for="age">Age group</label>
    <select name="age" id="age">
        <option value="below-18">Below 18</option>
        <option value="between-18-and-25">Between 18 and 25</option>
        <option value="between-25-and-40">Between 25 and 40</option>
        <option value="above-40">Above 40</option>
    </select>

    <button type="submit">Submit</button>
</form>

</body>
</html>